/* Basic layout */
.maid-list-container {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #e15611;

  }
  
  .maid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .maid-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .maid-card:hover {
    transform: scale(1.05);
  }
  
  .maid-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .maid-info {
    padding: 15px;
  }
  
  .maid-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .price {
    color: #f76c6c;
    font-weight: bold;
  }
  
  .availability {
    font-style: italic;
    color: #4caf50;
  }
  
  .description {
    font-size: 0.9rem;
    color: #777;
  }
  
  .location {
    font-size: 0.8rem;
    color: #555;
  }
  .order-button {
    margin-top: 10px;
    background-color: #f4763cf4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-button:hover {
    background-color: #217e88;
  }
    