  .video-slider {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  position: relative;
  margin-top:0;
  z-index: -1;
}
.video-container{
  background-color: rgba(2, 91, 110, 0.807);
  height: 70vh;
  position:absolute;
  top:100px;
  width: 100%;

}
.videodiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.heading{
  color: white;
  padding: 30px 60px;
width: 35%;
}
.servicebtn{
  margin:20px ;
  padding: 10px;
  width: 100px;
  background-color: rgba(247, 138, 60, 0.845);
  border-radius: 5px;
  border: none;
}
.heading h1{
  margin-top: 40px;
  width: 80%;
  font-size: 40px;
  margin-bottom: 30px;
}
.heading p1{
font-weight: 300;
}
.video-slide {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.responsive-video {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  

  z-index: -1;
  
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: white;
  font-size: 10px;
}

.slick-prev,
.slick-next {
  z-index: 1;
}
.typing-animation {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}
.animatedtext{
  color: rgb(244, 100, 39);
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width:768px){
  .video-container{
    
    height: 50vh;

  }
  .heading h1{
    width: 90%;
    font-size: 30px;
  }
  
  .heading{
  width: 90%;
  }
  .responsive-video{
    height: 50vh;
  }
  .videodiv{
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .heading h1 {
    font-size: 22px;
  }

  .heading p {
    font-size: 13px;
  }

  .servicebtn {
    width: 100px;
    padding: 8px;
    font-size: 14px;
  }
}